release/MDtoXMind-1.0.0-mac.zip
release/MDtoXMind-1.0.0.dmg
node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework
release/mac/MDtoXMind.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework